<!-- <h1><button mat-button>Click me!</button></h1> -->
<!-- <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
</button> -->
<mat-toolbar color="primary" class="navigation">
    <a routerLink="/"><span class="title-text">{{title}}</span></a>
    <a routerLink="/addTune" mat-button>New Tune</a>
    <a routerLink="/addTune" mat-button>Temp</a>
    <a routerLink="/addTune" mat-button>Temp</a>
</mat-toolbar>