<!-- <div id="wrapper">
  <ng-container *ngIf="tunes$ | async as tunes">
    <mat-card class="tune" *ngFor="let tune of tunes" [routerLink] = "['/sheetMode', tune.name]">
      <mat-card-header>
        <mat-card-title>{{ tune.name }}</mat-card-title>
        <mat-card-subtitle>{{ tune.composer }} </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ tune.youtubeThumbnailURL || nullPic }}">
    </mat-card>
  </ng-container>
</div> -->
<!-- <div [@routeAnimations]="prepareRoute(outlet)"> -->
<router-outlet #outlet="outlet"></router-outlet>
<!-- </div> -->