#wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    /* This makes the wrapper the height of page - header */
    height: calc(100% - 62px);
    height: -o-calc(100% - 62px); /* opera */
    height: -webkit-calc(100% - 62px); /* google, safari */
    height: -moz-calc(100% - 62px); /* firefox */
    /* justify-content: center; */
    background: #303030;
    overflow: hidden;
}

.search-wrapper {
    padding: 10px 10px 10px 25px;
}

.router-wrapper {
    width: 100%;
    margin-left: 30px;
}

mat-drawer-content{
    overflow-x: hidden;
    width: calc(100% - 150px);
    width: -o-calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
}