<form class='search-form'>
    <div class='search-bar'>
        <mat-form-field>
          <input matInput [formControl]="autoControl" [matAutocomplete]="auto" placeholder="Enter the name here">
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let tune of allTunes" [value]="tune">
                {{ tune }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</form>

<mat-action-list>
  <button mat-list-item *ngFor="let tune of allTunes" [value]="tune" [routerLink]="['/sheetMode', tune]" (click)="loadTune(tune)"> 
    {{ tune }}
  </button>
</mat-action-list>