button {
  
    background-repeat: no-repeat;
    background-position: 50% 50%;

    height: 50px;
    width: 200px;
    border: none;
}

button span {
    display: none;
}


.music_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 800px;
    overflow: visible;
}

.measures {
    display: flex;
    flex: 1 0 21%;
    /* justify-content: space-; */
    background: #424375;
    border-radius: 0px;
}

.measures > .chord {
    flex-grow: 1;
}

#notation {
    background:wheat;
    width: 800px;
}

