#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

#cardsToolbar {
    padding-bottom: -10px;
    margin-left: 50px;
}

#cardsToolbar > * {
    margin-right: 30px;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.tune {
    flex-basis: 15%;
    margin: 30px 5px 15px 5px;
    cursor: pointer;
}

.tune:hover {
    box-shadow: 0px 0px 10px 2px #0ff;
}